section.input {
    display: flex;
    flex-low: row;
    margin-bottom: 1em;
    padding: 0.3em;
    background: lightgrey;
    border: solid black 1px;
    border-radius: 1em;
}

section.input > label {
    flex: 0 1 130px;
}

section.input > input {
    flex: 1 1;
    font-size: xx-large;
    width: 20px;
}

section.error {
    color: red;
}

section.etape {
    border: solid black 1px;
    display: flex;
    flex-flow: row;
    background: lightgrey;
    page-break-inside: avoid;
}

section.etape.done {
    background: lightgreen;
}

section.etape:nth-child(even) {
    flex-direction: row-reverse;
}

section.etape > img {
    flex: 0 1 100px;
}
section.etape > section {
    flex: 1 1;
}

section.etape > input[type="checkbox"] {
    flex: 0 1 50px;
    align-self: center;
    width: 75px;
    height: 75px;
}

@media print {
    section.etape > img {
        flex: 0 1 50px;
    }
    section.etape > input[type="checkbox"] {
        width: 50px;
        height: 50px;
    }
}

section.compute {
    text-align: center;
}

#compute {
    padding: 0.5em;
    background: lightgreen;
    margin: 1em;
    font-size: xx-large;
}