section.etape {
    border: solid black 1px;
    display: flex;
    flex-flow: row;
    background: lightgrey;
    page-break-inside: avoid;
}

section.etape.done {
    background: lightgreen;
}

section.etape:nth-child(even) {
    flex-direction: row-reverse;
}

section.etape > img {
    flex: 0 1 100px;
}
section.etape > section {
    flex: 1 1;
}

section.etape > input[type="checkbox"] {
    flex: 0 1 50px;
    align-self: center;
    width: 75px;
    height: 75px;
}

@media print {
    section.etape > img {
        flex: 0 1 50px;
    }
    section.etape > input[type="checkbox"] {
        width: 50px;
        height: 50px;
    }
}

